.card .card-content {
    text-align: left;
    padding: 10px;
}

.book_title{
    font-weight: bold;
    font-size: 14px;
}

.author_names{
    color: gray;
    font-size: 10px;
}

.description {
    padding-top: 15px;
    font-size: 10px;
}