
.horizontal_scroll{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.tile{
    text-align: center;
    color: darkred;
    padding: 20px;
}

.fav_titles{
    word-break: break-all;
    width: 200px;
}